# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build output
dist/
build/
dist-ssr/

# Environnement
.env
.env.*

# IDE
.vscode/
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Fichiers temporaires
*.local
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
